* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }


  
  @font-face {
    font-family: "AppleSDGothicNeoB00";
    font-weight: 400;
    src: url("Fonts/AppleSDGothicNeoB00.ttf")format("ttf");
  }

  
  body {
    font-family: 'AppleSDGothicNeoB00', sans-serif;
  }
  
  .experience{
    padding: 40px 10px 100px 45px;
    border-radius: 20px;
    background-color: #e9ecef;
  }

  .experience li {
    line-height: 1.8;
    margin: 0;
    padding-inline-start: 0.5em;
    list-style-type : square;
  }

  .experience li::marker {
    color: silver;
    font-size: 1.5em;
    font-weight: bold;
  }

  .experience p {
    line-height: 1.8;
    margin: 0;
    padding-inline-start: 2.7em;
  }

  .container2 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .field {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 300px;
  }
  
  .mouse {
    width: 50px;
    height: 90px;
    border: 3px solid #333;
    border-radius: 60px;
    position: relative;
    &::before {
      content: '';
      width: 12px;
      height: 12px;
      position: absolute;
      top: 10px;
      left: 50%;
      transform: translateX(-50%);
      background-color: #333;
      border-radius: 50%;
      opacity: 1;
      animation: wheel 2s infinite;
      -webkit-animation: wheel 2s infinite;
    }
  }
  
  @keyframes wheel {
    to {
      opacity: 0;
      top: 60px;
    }
  }
  
  @-webkit-keyframes wheel {
    to {
      opacity: 0;
      top: 60px;
    }
  }
  
  .scroll {
    width: 60px;
    height: 60px;
    border: 2px solid #333;
    border-radius: 50%;
    position: relative;
    animation: down 1.5s infinite;
    -webkit-animation: down 1.5s infinite;
    &::before {
      content: '';
      position: absolute;
      top: 15px;
      left: 18px;
      width: 18px;
      height: 18px;
      border-left: 2px solid #333;
      border-bottom: 2px solid #333;
      transform: rotate(-45deg);
    }
  }
  
  @keyframes down {
    0% {
      transform: translate(0);
    }
    20% {
      transform: translateY(15px);
    }
    40% {
      transform: translate(0);
    }
  }
  
  @-webkit-keyframes down {
    0% {
      transform: translate(0);
    }
    20% {
      transform: translateY(15px);
    }
    40% {
      transform: translate(0);
    }
  }
  
  .arrow {
    width: 0;
    height: 40px;
    border: 1px solid #333;
    position: relative;
    animation: scroll 1.5s infinite;
    -webkit-animation: scroll 1.5s infinite;
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 100%;
      left: -5px;
      width: 1px;
      height: 10px;
      
     
      border-top: 10px solid #333;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
    }
  }
  
  @keyframes scroll {
    0% {
      height: 40px;
    }
    30% {
      height: 70px;
    }
    60% {
      height: 40px;
    }
  }
  
  @-webkit-keyframes scroll {
    0% {
      height: 40px;
    }
    30% {
      height: 70px;
    }
    60% {
      height: 40px;
    }
  }


html{
    background-color: #f5f5f7;
}

.catchButton{
  width: 100%;
  background-color: #e9ecef;
  border-radius: 15px;
  max-width: 27rem;
  margin: 25px;
  height: 19%;
  padding: 15px;
}

.c{
    position: relative;
    width:100%;
    overflow:hidden;
    margin:0 auto;
}
.pageCenter{
    width: auto;
    margin-top: 110px;
    position: relative;
}
.mainBenner{
    width:100%;
    height:100%;
}
.windowAll{
    position: relative;
}
.section{
    padding: 30px 0 60px 0;
}
.product {
    margin: 0 auto;
    position: relative;
    max-width: 1140px;
    padding: 0 0px;
    display: flex;
    justify-content: space-between;
    -webkit-box-pack: justify;
}
.item{
    overflow: hidden;
    max-width: 1920px;
    width: 100%;
}
.stackList{
    position: relative;
    margin: 2%;
}
.stackList h3{
    font-size: 2em;
    color: #1a1a1a;
    font-weight: bold;
    font-family: 'AppleSDGothicNeoB00', sans-serif;
    /*line-height: 5px;*/
    text-transform: uppercase;
}

.AboutSubTitle{
    position: relative;
    text-align: center;
}

.AboutSubTitle h3{
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 2.5rem;
    color: #1a1a1a;
    font-weight: bold;
    font-family: 'AppleSDGothicNeoB00', sans-serif;
    /*line-height: 5px;*/
    text-transform: uppercase;
}

.education{
  padding: 40px 10px 55px 50px;
  border-radius: 20px;
  background-color: #e9ecef;
}

.education li {
  line-height: 1.8;
  margin: 0;
  padding-inline-start: 0.5em;
  list-style-type : square;
}

.education li::marker {
  color: silver;
  font-size: 1.5em;
  font-weight: bold;
}

.education p {
  line-height: 1.8;
  margin: 0;
  padding-inline-start: 2.7em;
}

.wrap{
  display: flex;
  overflow: hidden;
  background-color: #e9ecef;
  border-radius: 20px;
}

.wrap .rolling-list ul { 
	display: flex;
    width:100%; 
    position:relative;
    list-style:none;
}

.wrap .rolling-list ul li { 
	width: 210px;
    height: 110px; 
    box-sizing: border-box; 
    border-radius: 20px; 
    margin: 0 16px; 
    padding: 46px 31px; 
    display: flex; 
    align-items: center; 
    flex-shrink: 0; 
    position: relative;
    float: left;
}

.wrap .rolling-list ul li .image-wrap { 
	padding-right: 32px; 
    max-width:100%;
    width: 115px; 
    flex-shrink: 0; 
}

.wrap .rolling-list ul li .image-wrap > img { 
	width: 100%;
}

.wrap .rolling-list ul li:nth-child(1) { 
    background-color: #e9ecef;
    width: 175px;
    font-weight: bold;
    font-family: 'AppleSDGothicNeoB00', sans-serif;
    font-size: 20px;
    text-align: center;
}
.wrap .rolling-list ul li:nth-child(7) { 
    background-color: #e9ecef; 
    width: 175px;
    font-weight: bold;
    font-family: 'AppleSDGothicNeoB00', sans-serif;
    font-size: 20px;
    text-align: center;
}


.newList2{
    padding-top: 56.25%;
    position: relative;
    max-width: 100%;
    background-color: #e9ecef;
    border-radius: 20px;
}
iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.subBenner{
    padding-top: 5px;
    max-width: 1140px;
    margin: 0 auto;
}
.scrollToTop{
    width: 45px;
    height: 45px;
    background-image: url('/image/arrow.png');
    position: fixed;
    right: 0.5em;
    bottom: 50px;
    display: none;
    border-radius: 2em;
    background-size: cover;
    z-index: 999;
}

.rolling-list.original {
	animation: rollingleft1 50s linear infinite; /**/
}
.rolling-list.clone {
	animation: rollingleft2 50s linear infinite;
}

@keyframes rollingleft1 {
	0% { transform: translateX(0); }
	50% { transform: translateX(-100%); }
	50.01% { transform: translateX(100%); }
	100% { transform: translateX(0); }
}

@keyframes rollingleft2 {
	0% { transition: translateX(0); }
	100% { transform: translateX(-200%); }
}

.aboutMeAll{
    max-width: 1980px;
}

.aboutMeCenter{
    -webkit-box-sizing: border-box;
    width: 100%;
    max-width: 60.25rem;
    padding: 0rem 2rem;
    margin: 5px auto;
}

.aboutMeCenter-top{
    -webkit-box-sizing: border-box;
    width: 100%;
    max-width: 60.25rem;
    padding: 4.5rem 0rem;
    margin: 11px auto;
}

.aboutMeCenter2{
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    -webkit-box-pack: justify;
}

.aboutMeCenter2-top{
    margin-bottom: -35px;
    margin-top: 35px;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    -webkit-box-pack: justify;
}

.aboutImage{
    width: 2rem;
    min-width: 2rem;
    height: 2rem;
    margin-top: 0.2rem;
    margin-right: 2rem;
}

.aboutImage2{
    width: 100%;
}

.aboutMeList{
    width: 33.33333%;
    margin-bottom: 2rem;
}

.aboutMeList-top{
    width: 50%;
    margin-bottom: 2rem;
}

.aboutMeList2{
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    max-width: 13rem;
    margin: 5px auto;
    opacity: 74.8;
}

.aboutMeList2-top{
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    max-width: 27rem;
    margin: 30px auto;
    opacity: 74.8;
    background-color: #e9ecef;
    border-radius: 15px;
    padding: 25px;
}

.aboutMeList2-top2{
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  max-width: 27rem;
  margin: 30px auto;
  opacity: 74.8;
}

.aboutMiniTitle{
    margin-bottom: 0.5rem;
    font-weight: bold;
    font-family: 'AppleSDGothicNeoB00', sans-serif;
    font-size: 1em;
}

.aboutMiniTitle-detail{
    font-weight: bold;
    font-family: 'AppleSDGothicNeoB00', sans-serif;
    font-size: 1.25rem;
}

.aboutMiniTitle-top{
    margin-bottom: 0.5rem;
    font-weight: bold;
    font-family: 'AppleSDGothicNeoB00', sans-serif;
    font-size: 1.5rem;
}

.aboutMiniTitle-detail-top{
    font-weight: bold;
    font-family: 'AppleSDGothicNeoB00', sans-serif;
    font-size: 1.25rem;
}

.myPhoto{
    width: 50px;
    height: 50px;
}

.myPhotoBorder{
    width: 30%;
    height: 400px;
    top: 180px;
    left: 500px;
    border: 1px solid black;
}

.aboutMeTop{
    overflow: hidden;
    max-width: 1920px;
}

.aboutMeTop2{
    max-width: 1920px;
    border: 1px solid salmon;
}

.myImage{
    width: 100%;
    height: 340px;
}

::-moz-selection {
    background: lightblue;
    color: #fff;
 }
 ::selection {
    background: lightblue;
    color: #fff;
 }

 .typing{
    margin: 1px auto;
    text-align: center;
 }

 .typing h1{
    font-size: 1em;
    min-width:11px;
    white-space: nowrap;
    margin: 0;
    position: absolute;
    color: transparent;
    left:50%;
    transform: translate(-50%, -50%);
 }

 .typing h1::before{
    content: "안녕하세요. 사용자 친화적인 서비스를 추구하는 엔지니어 입니다.";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: black;
    overflow: hidden;
    border-right: 1px solid black;
    animation: typing 5s steps(31) infinite;
 }

 .introduce{
    margin: 5px auto;
 }

 .introduce p{
    line-height: 28px;
    font-size: 1rem;
    letter-spacing: 0.5px;
 }

 @keyframes typing{
    0% {
      width: 0%;
    }
    50% {
      width: 100%;
    }
    100% {
      width: 0%;
    }
  }

  @media all and (max-width:479px) {

    .aboutMeList2-top{
        width: 90%;
        margin: 5%;
    }

    .aboutMeList2-top p{
      font-size: 1%;
    }

    .catchButton{
      background-color: #e9ecef;
      border-radius: 15px;
      margin: 10px;
      height: 75px;
      padding: 15px;
      width: 300px;
    }

    .catchButton a{
      margin-left: 0px;
      color: inherit;
    text-decoration: none;
    }

    input.button-add{
      width: 20px;
    }

    .stackList{
      margin: 5%;
      font-size: 15px;
    }

    .stackList h3{
        font-size: 1.5em;
    }

    .myImage{
      height: 250px;
    }

    .experience{
      padding: 15px 10px 0px 15px;
    }

    .experience h2{
      font-size: 1em;
    }

    .experience li,p{
      font-size: 0.7em;
    }

    .education{
      padding: 15px 10px 10px 15px;
    }

    .education h2{
      font-size: 1em;
    }

    .education li, p{
      font-size: 0.7em;
    }

    .AboutstackList h3{
        font-size: 2em;
    }

    .footer .footer_bottom{
        padding: 1px 0 1px;
    }

    .introduce{
        margin-left: 0.5em;
        margin-right: 0.5em;
    }

    .introduce p{
        line-height: 20px;
        font-size: 1rem;
        letter-spacing: 1px;
    }

    .typing h1{
        width: 90%;
        font-size: 0.7rem;
    }

    .newList2{
      margin: 0 20px 0 20px;
    }

    .scrollToTop{
      width: 38px;
    height: 38px;
    background-image: url(/image/arrow.png);
    position: fixed;
    right: 0.5em;
    bottom: 50px;
    display: none;
    border-radius: 2em;
    background-size: cover;
    z-index: 999;
    }

    .aboutMeCenter-top {
      padding: 1rem 0rem;
    }

    .wrap{
      height: 90px;
    }

    .wrap .rolling-list ul li{
      height: 0px;
    }

    .section{
      padding: 30px 0 30px 0;
    }

    .AboutSubTitle h3{
      font-size: 1.5rem;
    }

    .slide-big-text p{
      font-size: 30px;
    }
    
  }



    
    
  

  #app {
    font-family: 'AppleSDGothicNeoB00', sans-serif;
    text-align: center;
  }
  
  
  .c2 {
    height: 400px;
  }
  
  .sticky {
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh;
  }
  
  .slide-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  .slide {
    position: absolute;
    display: none;
    z-index: 0;
  }
  .slide.enabled {
    display: block;
  }
  
  .slide-big-text p {
    margin: 0;
    font-size: 45px;
    font-weight: bold;
    line-height: 1.35;
    letter-spacing: -1.5px;
    word-spacing: 1.5px;
    text-align: center;
  }
  
  
  .slide-small-text {
    margin-top: 20px;
    margin-left: 5px;
  }
  
  .slide-small-text p {
    font-size: 18px;
    margin: 0;
    font-weight: bold;
  }
  
  .scdown {
    position: absolute;
    padding: 30px 0;
    width: 100%;
    height: 50px;
    text-align: center;
  }
  
  .to-scroll-main{
    width: 90vw;
    margin: 0 auto;
    text-align: center;
  }
  
  .to-scroll-animation span{
    margin-top: 20%;
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: #111111;
  }
    
  .to-scroll-animation .to-scroll-two_text {
    display: inline-block;
    transform-origin: center;
    padding: 0 0.5rem;
    color: #111111;
    animation: animate 2s infinite;
  }
  
  @keyframes animate {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.15);
    }
    100% {
      transform: scale(1);
    }
  }

#header {
    background-color: #f5f5f7;
    overflow: hidden;
    min-width: 100%;
    border-top: 12px solid #BB2649;
    position: fixed;
    top: 0;
    z-index: 1;
}
.container{
    left: 363px;
    position: relative;
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: end;
    justify-content: space-between;
}
.image{
    width: 180px;
    display: inline-block;
    size: 100px 100px;
}
.menu{
    width: calc(100% - 260px);
    padding-right: 45px;
}

.hLink{
    border-radius: 10px;
    width: 16%;
    height: 43px;
    background-color: #f5f5f7;
    display: inline-block;
    text-align: center;
    line-height: 43px;
    color: black;
    transition: all 0.5s ease 0s;
    font-weight: bold;
    font-family: 'AppleSDGothicNeoB00', sans-serif;
    font-size: 18px;
}


.hLink:hover{
    background-color: #BB2649;
    color: white;
    transition: filter 0.3s ease;
}


.myPage{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    right:10px;
}
/*
.yonghyeon{
    position: fixed;
    left: 190px;
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: 400;
    font-family: 'Jua', sans-serif;
}

.yonghyeon:hover{
    color: #BB2649;
    cursor: pointer;
}
*/
@media (max-width:767px) {
    .image {
        width: 115px;
    }

    .menu {
        width: calc(100% - 185px);
    }

    .hLink {
        height: 30px;
        line-height: 30px;
        font-size: 14px;
    }

    .myPage img {
        width: 20px;
    }
}

.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f7;
    padding: 13px 30px;
}

.navBar-logo a{
    font-size: 30px;
    /*margin: 0px 110px;*/
    font-weight: bold;
    font-family: 'AppleSDGothicNeoB00', sans-serif;
}

.navBar-logo a:hover{
    color: #FFE694;
    cursor: pointer;
}

.navBar-menu a{
    display: block;
    font-size: 20px;
    color: black;
    text-decoration: none;
    width: 100%;
    height: 100%;
    font-weight: bold;
}

.navBar-menu{
    padding-inline-start: 0;
    cursor: pointer;
    text-align: center;
    width: 35%;
    display: flex;
    list-style: none;
}

.navBar-menu li{
    border-radius: 10px;
    width: 140px;
    height: 35px;
    line-height: 30px;
    display: block;
    padding: 1px 20px;
    transition: all 0.5s ease 0s;
}

.navBar-menu li:hover{
    display: block;
    background-color: #d9d9e0;
}

.navBar-menu a:hover{
  color: #ffffff;
}


.navBar-toggleBtn{
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
}





@media screen and (max-width: 1023px){
    .navBar{
        flex-direction: column;
        align-items: flex-start;
    }
    .navBar-menu{
        flex-direction: column;
        align-items: center;
        width: 100%;
        text-align: center;
    }

    .navBar-logo {
        width: 100%;
        text-align: center;
    }
    .navBar-toggleBtn{
        display: block;
    }
    .navBar-menu.active,
    .navBar-links.active {
        display: flex;
    }
}

/*modal*/
#modalOpenButton, #modalCloseButton {
  cursor: pointer;
}

input.button-add{
  background-image: url(/image/notion.png);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 50px;
  height: 50px;
  border: none;
  margin-left: 5%;
}

input.button-add:hover{
  filter: invert(70%);
  transition: filter 0.3s ease;
  
}

#modalContainer {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}

#modalContent {
  position: absolute;
  background-color: #ffffff;
  width: 300px;
  height: 150px;
  padding: 15px;
  text-align: center;
}

#modalContainer {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}

#modalContainer.hidden {
  display: none;
}

.resume{
  margin-left: 15px;
  color: inherit;
  text-decoration: none;
}

.resumeBtn{
  border: 3px solid #d9d9e0;
  width: 35%;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  font-family: 'AppleSDGothicNeoB00', sans-serif;
  letter-spacing: 0.2em;
}

.resumeBtn:hover{
  background-color: #d9d9e0;
  color: #ffffff;
  transition: filter 0.3s ease;
}

.resumeBtn:hover .downloadImg{
  color: #ffffff;
  filter: opacity(0.5) drop-shadow(0 0 0 #ffffff);
  transition: filter 0.3s ease;
}

.gitImg{
  background-image: url(/image/git.png);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 12%;
  height: 40px;
  border: none;
  cursor: pointer;
  margin-left: 5%;
}

.gitImg:hover{
  filter: invert(70%);
  transition: filter 0.3s ease;
}

.VelogImg{
  background-image: url(/image/Velog.png);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 12%;
  height: 50px;
  border: none;
  cursor: pointer;
  margin-left: 5%;
}

.VelogImg:hover{
  filter: invert(100%);
  transition: filter 0.3s ease;
}

.cssImg{
  background-image: url(/image/CSS.png);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 15%;
  height: 50px;
  border: none;
  cursor: pointer;
}

.downloadImg{
  width: 19px;
  margin-bottom: -4px;
  transition: filter 0.3s ease;
  
}

.htmlImg{
  background-image: url(/image/HTML.png);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 15%;
  height: 50px;
  border: none;
  cursor: pointer;
}



