*{
        
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* *{
        
    font-family: "Noto Sans", sans-serif;
    font-style: normal;
} */

body{
    min-height: 100vW;
    background: #f5f5f7;
    
    
}    

h2{
    font-size: 80px;
    font-family: "Nanum Brush Script", cursive;
    font-weight: 400;
    font-style: normal;
}

.as{
    color: #111111;
    text-align: center;
    opacity: 0;
    transition: all 3.5s;
    display: flex;
    width: 95%;
    margin: 0 auto;
}

.header{ 
    z-index: 1;
    top: 0px;
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid gainsboro;
    background-color: #f5f5f7;
}
.header ul{
    display: flex; 
    list-style: none; 
    padding-left: 0; 
    margin: 0 auto;
}

.header li{
    padding: 8px 12px;
}

.header li a{
    font-size: 23px; 
    transition: color 0.5s; 
    text-decoration-line: none; 
    color: black; 
    font-weight: bold;
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.header li a:hover{
    cursor: pointer;
    color: cornflowerblue;
}

.center{
    margin-left: 300px;
    margin-right: 300px;
}



.button-01{
    margin-left: 5px;
    background: none;
    width: 85px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid #f1652a;
}

.button-02{
    margin-left: 5px;
    background: none;
    width: 85px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid #359cd6;
}

.button-03{
    margin-left: 5px;
    background: none;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid #ffdd46;
}

.button-04{
    margin-left: 5px;
    background: none;
    width: 85px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid #0967ab;
}

.button-05{
    color: #ffffff;
    font-size: 17px;
    margin-top: 15px;
    width: 95%;
    height: 40px;
    border-radius: 20px;
    background-color: cornflowerblue;
    border: none;
}

.button-06{
    margin-left: 5px;
    background: none;
    width: 85px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid #a257ff;
}

.button-07{
    margin-left: 5px;
    background: none;
    width: 85px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid #40b883;
}

.button-08{
    margin-left: 5px;
    background: none;
    width: 85px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid #49e93b;
}

.button-01:hover{
    cursor: pointer;
    background-color: #f1652a;
    color: #ffffff;
    transition: all 0.7s;
}

.button-02:hover{
    cursor: pointer;
    background-color: #359cd6;
    color: #ffffff;
    transition: all 0.7s;
}

.button-03:hover{
    cursor: pointer;
    background-color: #ffdd46;
    color: #ffffff;
    transition: all 0.7s;
}

.button-04:hover{
    cursor: pointer;
    background-color: #0967ab;
    color: #ffffff;
    transition: all 0.7s;
}

.button-05:hover{
    cursor: pointer;
    background-color: #ffffff;
    color:cornflowerblue;
    transition: all 0.7s;
    border: 2px solid cornflowerblue;
}

.button-06:hover{
    cursor: pointer;
    background-color: #a257ff;
    color: #ffffff;
    transition: all 0.7s;
}

.button-07:hover{
    cursor: pointer;
    background-color: #40b883;
    color: #ffffff;
    transition: all 0.7s;
}
.button-08:hover{
    cursor: pointer;
    background-color: #49e93b;
    color: #ffffff;
    transition: all 0.7s;
}

.footer {
    display: inline-block;
}

.footer p{
    font-size: 50px;
    text-align: left; 
    margin-left: 3%;
}

.footer li{
    border-bottom: 2px solid darkblue;
    text-align: left;  
    height: 50px; 
    list-style-type: none; 
    line-height: 50px;
}

.footer li:hover{
    background-color: cornflowerblue;
    transition: all 0.7s;
}

.footer li a{
    display: block;
    font-size: 30px;
    text-decoration-line: none;
    color: inherit;
    margin-left: 3%;
}

.footer li a:hover{
    color: white;
    transition: all 0.7s;
}

.main{
    width: 95%; 
    margin: 0 auto; 
    margin-top: 150px;
}

.main-container-left{
    width: 55%; height: 700px;
}

.main-content-left{
    width: 90%; 
    height: 95%; 
    margin: 0 auto; 
    margin-top: 10px; 
    border-radius: 20px;
}

.main-content-left img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.main-content-left video{
    object-fit: fill;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.main-container-right{
    width: 45%; 
    height: 700px;
}

.main-content-right-title{
    width: 90%; 
    height: 150px; 
    margin: 0 auto; 
    margin-top: 50px; 
    border-radius: 20px; 
    text-align: left;
}

.main-content-right-detail{
    padding: 10px 25px 10px 26px; 
    text-align: left; 
    width: 90%; 
    height: 430px; 
    margin: 0 auto; 
    border-radius: 20px;
}

.main-content-buttonGroup{
    display: flex;
    align-items: center; 
    margin-top: 3px;
}

.main-content-right-detail p:nth-child(1){
    font-size: 22px;
}

.main-content-right-detail p:nth-child(2){
    font-size: 25px;
}



.main-content-buttonGroup p{
    font-size: 25px; 
    line-height: 0px;
}

.content-container{
    width: 100%; 
    height: auto; 
    margin-top: 150px;
}

.content-videoBox{
    width: 95%; 
    height: 100%; 
    margin: 0 auto; 
    margin-top: 20px; 
    border-radius: 20px;
}

.content-videoBox video{
    position: relative;
    width: 100%; 
    height: 100%; 
    border-radius: 20px; 
    object-fit: cover; 
    border: 5px solid black;
}

.content-videoBox img{
    position: relative;
    width: 85%; 
    height: 100%; 
    border-radius: 20px; 
    object-fit: cover; 
}

.content2 {
    margin-top: 150px;
}

.contnet2-container-mobile{
    width: 30%; 
    height: 100%;
}

.contnet2-mobile{
    width: 95%; 
    height: 95%; 
    margin: 0 auto; 
    margin-top: 20px; 
    border-radius: 20px;
}

.contnet2-mobile video{
    width: 80%; 
    height: 95%; 
    border-radius: 50px; 
    object-fit: cover; 
    border: 5px solid black;
}

.content2-container-tablet{
    width: 70%; 
    height: 99%;
}

.content2-tablet{
    width: 95%; 
    height: 95%; 
    border: 5px solid black;
    margin: 0 auto; 
    margin-top: 20px; 
    border-radius: 30px;
}

.content2-tablet video{
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.content2-container-tnm img{
    width: 90%;
}

.content2-container-tnm{
    width: 95%;
}

.reason{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.reason-ImgBox{
    display: flex;
    justify-content: center;
}

.reason-ImgBox ul{
    padding: 0px;
    width: 50%;
    list-style: none;
}

.reason-ImgBox img{
    width: 70%;
    padding: 10px;
    border-radius: 30px;
}

.reason{
    padding: 25px;
    width: 43%;
    border-radius: 20px;
}

.reason-content{
    width: 100%;
}
.reason-content:nth-child(3){
    margin-top: 100px;
}

.reason-content h3{
    font-size: 2em;
}

.reason-content ul{
    text-align: left;
    width: 100%;
    list-style: square;
}

.reason-content li{
    font-size: 1.5em;
    margin-top: 5px;
}


.content3{
    margin: 0 auto;
    margin-top: 150px;
}

.content4{
    margin: 0 auto;
    margin-top: 150px;
}

.content5{
    margin: 0 auto;
    margin-top: 150px;
}

.content6{
    margin: 0 auto;
    margin-top: 150px;
}

.content7{
    margin: 0 auto;
    margin-top: 150px;
}

.content8{
    margin: 0 auto;
    margin-top: 150px;
}

.dynamic{
    margin-top: 10px;
}

.dynamic-info{
    width: 100%; 
    height: 100px;
}

.dynamic-info p{
    font-size: 25px;
}

.dynamic-span{
    color: #f1652a;
}

/* 그리드 */

.grid-conatiner img{
    width: 60%;
}

.grid-conatiner{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 0.5fr 2fr 0.5fr ;
    grid-gap: 10px;
}

.box2{
    
    grid-column-start: 1;
    grid-column-end: 6;
}

.box2 h3{
    font-size: 2em;
}

.box3{
    grid-column-start: 1;
    grid-column-end: 4;
}

.box4{
    justify-content: left;
    grid-column-start: 4;
    grid-column-end: 6;
}

.box4 p{
    font-size: 1.5em;
}

.box5{
    grid-column-start: 1;
    grid-column-end: 6;
}

.box5 h3{
    font-size: 2em;
}

.box6{
    grid-column-start: 1;
    grid-column-end: 3;
    justify-content: right;
}

.box8{
    grid-column-start: 4;
    grid-column-end: 6;
}

.box8 p{
    font-size: 1.5em;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
}

.prototype-contaniner{
    display: flex;
    width: 100%;
    justify-content: center;
}

.prototype-contaniner h3{
    font-size: 2em;
}

.sketch-Box{
    width: 50%;
}

.sketch-Box img{
    width: 75%;
}

.sketch-layout{
    width: 45%;
}


.sketch-layout img{
    width: 100%;
}


.layer-area{
    width: 33%;
    text-align: right;
}

.layer-area img{
    width: 50%;
}

.layer-area h3{
    margin-right: 5%;
}

.html-area{
    width: 33%;
}

.html-area img{
    width: 85%;
}

.css-area{
    width: 33%; 
    text-align: left;
}

.css-area img{
    width: 40%;
}

/*--------------laypopup-contaniner-------------*/

.laypopup-contaniner{
    display: flex;
    width: 100%;
    justify-content: center;
}

.laypopup-contaniner h3{
    font-size: 2em;
}


.layer-popup{
    width: 33%;
}

.layer-popup img{
    width: 100%;
}

.layer-popup img:last-child{
    margin-top: 20px;
}

.layer-popup-code{
    width: 33%;
}

.layer-popup-code img{
    width: 65%;
}

.layer-popup-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 33%;
}

.layer-popup-info p{
    width: 70%;
}

.layer-popup-info p span{
    color: #f1652a;
}

.mainInfo-contaniner{
    flex-direction: column;
    display: flex;
    width: 100%;
    justify-content: center;
}

.mainPage-info{
    width: 100%;
}

.mainPage-info img{
    width: 80%;
}

.mainPage-info h3{
    width: 100%;
    font-size: 2em;
}



/*--------------product-sub--------------*/

.product-sub-contaniner{
    display: flex;
    width: 100%;
    justify-content: center;
}

.product-sub-contaniner h3{
    font-size: 2em;
}


.product-sub-img{
    width: 40%;
    display: flex;
    align-items: center;
}

.product-sub-img img{
    width: 100%;
}

.layer-popup img:last-child{
    margin-top: 20px;
}

.product-sub-code{
    width: 30%;
}

.product-sub-code img{
    width: 95%;
}

.product-sub-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 33%;
}

.product-sub-info p{
    width: 70%;
}

.product-sub-info p span{
    color: #f1652a;
}


/*-------------login-------------------*/

.login-contaniner{
    display: flex;
    width: 100%;
    justify-content: center;
}

.login-contaniner h3{
    font-size: 2em;
}


.login-img{
    width: 40%;
}

.login-img img{
    width: 100%;
}

.login-img:last-child{
    margin-top: 20px;
}

.login-code{
    width: 30%;
}

.login-code img{
    width: 95%;
}

.login-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 33%;
}

.login-info p{
    width: 70%;
}

.login-info p span{
    color: #f1652a;
}



/*--------------collection--------------*/

.collection-contaniner{
    display: flex;
    width: 100%;
    justify-content: center;
}

.collection-contaniner h3{
    font-size: 2em;
}


.collection-img{
    width: 40%;
}

.collection-img img{
    width: 65%;
}

.collection-img:last-child{
    margin-top: 20px;
}

.collection-code{
    width: 30%;
}

.collection-code img{
    width: 95%;
}

.collection-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 33%;
}

.collection-info p{
    width: 70%;
}

.collection-info p span{
    color: #f1652a;
}



















/*뷰포트의 가로너비가 1025px 이상인 경우 적용 : 데스크탑 환경*/ 
@media screen and (max-width: 1025px){
    .header ul{
        text-align: center;
        flex-direction: column;
    }
    
    h2{
        font-size: 60px;
    }

    .main-content-right-title{
        height: 100px;
    }

    .reason-ImgBox img{
        width: 80%;
    }

    .reason-content h3{
        font-size: 1.5em;
    }

    .reason-content li{
        font-size: 1em;
    }

    .reason-content:nth-child(3){
        margin-top: 0;
    }

    .grid-conatiner{
        grid-auto-rows: auto;
    }

    .box2 h3{
        font-size: 1.5em;
    }

    .box4 p{
        font-size: 1em;
    }

    .box5 h3{
        font-size: 1.5em;
    }

    .box8 p{
        font-size: 1em;
    }

    .prototype-contaniner h3{
        font-size: 1.5em;
    }

    .layer-area img{
        width: 70%;
    }

    .html-area img{
        width: 90%;
    }

    .css-area img{
        width: 80%;
    }

    .mainPage-info h3{
        font-size: 1.5em;
    }

    .mainPage-info img{
        width: 90%;
    }

    .laypopup-contaniner h3{
        font-size: 1.5em;
    }

    .login-contaniner h3{
        font-size: 1.5em;
    }

    .product-sub-contaniner h3{
        font-size: 1.5em;
    }

    .collection-contaniner h3{
        font-size: 1.5em;
    }

    .footer p{
        font-size: 35px;
    }
}



/*미디어 쿼리 모바일*/
@media screen and (max-width:768px) {

    .mainPage-info h3{
        font-size: 1.5em;
    }

    .collection-contaniner h3 {
        font-size: 1.5em;
    }

    .product-sub-contaniner h3 {
        font-size: 1.5em;
    }

    .login-contaniner h3 {
        font-size: 1.5em;
    }

    .laypopup-contaniner h3{
        font-size: 1.5em
    }

    .prototype-contaniner h3{
        font-size: 1em;
    }

    p{
        font-size: 0.8em;
    }

    .box4 p{
        font-size: 0.8em;
    }

    .box8 p{
        font-size: 0.8em;
    }

    .content4{
        margin-top: 50px;
    }

    .reason-content h3{
        margin: 0;
    }

    .reason-ImgBox img{
        width: 95%;
    }

    .header{
        flex-direction: column;
        align-items: flex-start;
    }

    .header ul{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .header li a{
        font-size: 3vw;
    }

    .center{
        display: contents;
    }

    .main{
        display: block;
    }

    .main-container-left{
        margin-top: -50px;
        width: 100%;
        height: 30%;
    }

    .main-container-right{
        width: 100%;
        height: 520px;
    }

    .main-content-right-title h2{
        font-size: 7vw;
        text-align: center;
    }

    .main-content-right-detail{
        text-align: center;
        margin-top: -75px;
    }

    .main-content-right-detail p:nth-child(1){
        font-size: 3vw;
    }

    .main-content-right-detail p:nth-child(2){
        font-size: 3vw;
        text-align: left;
        margin-top: 25px;
    }

    .main-content-buttonGroup{
        text-align: left;
        flex-wrap: wrap;
    }

    .button-01{
        margin: 5px 0 5px 5px;
        width: 15%;
        font-size: 2vw;
        height: 25px;
    }

    .button-02{
        margin: 5px 0 5px 5px;
        width: 15%;
        font-size: 2vw;
        height: 25px;
    }

    .button-03{
        margin: 5px 0 5px 5px;
        width: 18%;
        font-size: 2vw;
        height: 25px;
    }

    .button-04{
        margin: 5px 0 5px 5px;
        width: 15%;
        font-size: 2vw;
        height: 25px;
    }

    .button-06{
        margin: 5px 0 5px 5px;
        width: 15%;
        font-size: 2vw;
        height: 25px;
    }

    .button-07{
        margin: 5px 0 5px 5px;
        width: 15%;
        font-size: 2vw;
        height: 25px;
    }

    .button-08{
        margin: 5px 0 5px 5px;
        width: 15%;
        font-size: 2vw;
        height: 25px;
    }

    .content-container{
        margin-top: 150px;
        height: 500px;
    }

    .content-videoBox{
        height: 85%;
    }

    .content2{
        margin-top: 0;
    }

    .contnet2-container-mobile{
        height: 300px;
    }
    
    .content2-container-tablet{
        height: 300px;
    }

    .contnet2-mobile{
        width: 70%;
        height: 85%;
    }

    .content2-tablet{
        width: 95%;
        height: 90%;
    }

    .dynamic-info p{
        font-size: 3vw
    }

    .footer{
        margin-top: 30px;
    }

    .footer p{
        font-size: 5vw;
        margin-bottom: -20px;
    }

    .footer li a{
        font-size: 3.5vw;
    }

    .contnet2-mobile video{
        border-radius: 25px;
    }

    .collection-img{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .collection-code{
        width: 50%;
    }

    .collection-info{
        width: 100%;
    }

    .collection-contaniner{
        display: flex;
        width: 100%;
        justify-content: center;
        flex-flow: wrap-reverse;
    }

    .product-sub-contaniner{
        flex-wrap: wrap;
    }

    .product-sub-info{
        width: 100%;
    }

    .product-sub-code{
        width: 50%;
    }

    .product-sub-img{
        width: 50%;
        align-items: center;
        display: flex;
    }

    .login-contaniner{
        flex-flow: wrap-reverse;
    }

    .login-info{
        width: 100%;
    }

    .login-code{
        width: 50%;
    }

    .login-img{
        width: 50%;
        display: flex;
        align-items: center;
        flex-flow: column;
        justify-content: center;
    }

    .laypopup-contaniner{
        flex-flow: wrap;
    }

    .layer-popup-info{
        width: 100%;
    }

    .layer-popup{
        width: 50%;
    }

    .layer-popup-code{
        width: 50%;
    }
}

/* 모바일 소형 */
@media screen and (max-width: 480px){

    .content8{
        margin-top: 50px;
    }

    .content7{
        margin-top: 50px;
    }

    .content6{
        margin-top: 50px;
    }

    .content5{
        margin-top: 50px;
    }

    .content4{
        margin-top: 20px;
    }

    .content3{
        margin-top: 50px;
    }


    .footer p{
        font-size: 5vw;
    }

    p {
        font-size: 0.5em;
    }

    .prototype-contaniner h3 {
        font-size: 0.5em;
    }

    .box8 p {
        font-size: 0.5em;
    }

    .box5 h3 {
        font-size: 1em;
    }

    .box4 p {
        font-size: 0.5em;
    }

    .box2 h3{
        font-size: 1em;
    }

    .reason-content li{
        font-size: 0.5em;
    }

    .reason-content h3{
        font-size: 1em;
    }

    .main{
        margin-top: 50px;
    }

    .main-container-right{
        height: 400px;
    }

    .content-videoBox{
        height: 100%;
    }

    .content-container{
        height: 250px;
        margin-top: 50px;
    }

    .content2{
        margin-top: 50px;
    }

    .contnet2-container-mobile{
        height: 250px;
    }
    
    .content2-container-tablet{
        height: 250px;
    }

    .contnet2-mobile{
        width: 100%;
    }

    .content2-tablet{
        width: 100%;
        height: 74%;
    }
    .footer{
        margin-top: 0;
    }

}
