p, a, button{
        
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body{
    height: 3500px;
    background: #f5f5f7;
    
    
}    

h2{
    font-size: 80px;
    font-family: "Nanum Brush Script", cursive;
    font-weight: 400;
    font-style: normal;
}

.as{
    color: #111111;
    text-align: center;
    opacity: 0;
    transition: all 3.5s;
    display: flex;
    width: 95%;
    margin: 0 auto;
}

.header{ 
    z-index: 1;
    top: 10px;
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid gainsboro;
}
.header ul{
    display: flex; 
    list-style: none; 
    padding-left: 0; 
    margin: 0 auto;
}

.header li{
    padding: 8px 12px;
}

.header li a{
    font-size: 23px; 
    transition: color 0.5s; 
    text-decoration-line: none; 
    color: black; 
    font-weight: bold;
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.header li a:hover{
    cursor: pointer;
    color: cornflowerblue;
}

.center{
    margin-left: 300px;
    margin-right: 300px;
}



.button-01{
    margin-left: 5px;
    background: none;
    width: 85px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid #f1652a;
}

.button-02{
    margin-left: 5px;
    background: none;
    width: 85px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid #359cd6;
}

.button-03{
    margin-left: 5px;
    background: none;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid #ffdd46;
}

.button-04{
    margin-left: 5px;
    background: none;
    width: 85px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid #0967ab;
}

.button-05{
    color: #ffffff;
    font-size: 17px;
    margin-top: 15px;
    width: 95%;
    height: 40px;
    border-radius: 20px;
    background-color: cornflowerblue;
    border: none;
}

.button-06{
    margin-left: 5px;
    background: none;
    width: 85px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid #a257ff;
}

.button-07{
    margin-left: 5px;
    background: none;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid #40b883;
}

.button-01:hover{
    cursor: pointer;
    background-color: #f1652a;
    color: #ffffff;
    transition: all 0.7s;
}

.button-02:hover{
    cursor: pointer;
    background-color: #359cd6;
    color: #ffffff;
    transition: all 0.7s;
}

.button-03:hover{
    cursor: pointer;
    background-color: #ffdd46;
    color: #ffffff;
    transition: all 0.7s;
}

.button-04:hover{
    cursor: pointer;
    background-color: #0967ab;
    color: #ffffff;
    transition: all 0.7s;
}

.button-05:hover{
    cursor: pointer;
    background-color: #ffffff;
    color:cornflowerblue;
    transition: all 0.7s;
    border: 2px solid cornflowerblue;
}

.button-06:hover{
    cursor: pointer;
    background-color: #a257ff;
    color: #ffffff;
    transition: all 0.7s;
}

.button-07:hover{
    cursor: pointer;
    background-color: #40b883;
    color: #ffffff;
    transition: all 0.7s;
}

.footer {
    display: inline-block;
}

.footer p{
    font-size: 50px;
    text-align: left; 
    margin-left: 3%;
}

.footer li{
    border-bottom: 2px solid darkblue;
    text-align: left;  
    height: 50px; 
    list-style-type: none; 
    line-height: 50px;
}

.footer li:hover{
    background-color: cornflowerblue;
    transition: all 0.7s;
}

.footer li a{
    display: block;
    font-size: 30px;
    text-decoration-line: none;
    color: inherit;
    margin-left: 3%;
}

.footer li a:hover{
    color: white;
    transition: all 0.7s;
}

.main{
    width: 95%; 
    margin: 0 auto; 
    margin-top: 150px;
}

.main-container-left{
    width: 55%; height: 700px;
}

.main-content-left{
    width: 90%; 
    height: 95%; 
    margin: 0 auto; 
    margin-top: 10px; 
    border-radius: 20px;
}

.main-content-left img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.main-container-right{
    width: 45%; 
    height: 700px;
}

.main-content-right-title{
    width: 90%; 
    height: 150px; 
    margin: 0 auto; 
    margin-top: 50px; 
    border-radius: 20px; 
    text-align: left;
}

.main-content-right-detail{
    padding: 10px 25px 10px 26px; 
    text-align: left; 
    width: 90%; 
    height: 430px; 
    margin: 0 auto; 
    border-radius: 20px;
}

.main-content-buttonGroup{
    display: flex;
    align-items: center; 
    margin-top: 3px;
}

.main-content-right-detail p:nth-child(1){
    font-size: 22px;
}

.main-content-right-detail p:nth-child(2){
    font-size: 25px;
}

.main-content-buttonGroup p{
    font-size: 25px; 
    line-height: 0px;
}

.content-container{
    width: 100%; 
    height: 900px; 
    margin-top: 150px;
}

.content-videoBox{
    width: 95%; 
    height: 100%; 
    margin: 0 auto; 
    margin-top: 20px; 
    border-radius: 20px;
}

.content-videoBox video{
    position: relative;
    width: 100%; 
    height: 100%; 
    border-radius: 20px; 
    object-fit: cover; 
    border: 5px solid black;
}

.content2 {
    margin-top: 150px;
}

.contnet2-container-mobile{
    width: 30%; 
    height: 100%;
}

.contnet2-mobile{
    width: 95%; 
    height: 95%; 
    margin: 0 auto; 
    margin-top: 20px; 
    border-radius: 20px;
}

.contnet2-mobile video{
    width: 80%; 
    height: 95%; 
    border-radius: 50px; 
    object-fit: cover; 
    border: 5px solid black;
}

.content2-container-tablet{
    width: 70%; 
    height: 99%;
}

.content2-tablet{
    width: 95%; 
    height: 95%; 
    border: 5px solid black;
    margin: 0 auto; 
    margin-top: 20px; 
    border-radius: 30px;
}

.content2-tablet video{
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.dynamic{
    margin-top: 10px;
}

.dynamic-info{
    width: 100%; 
    height: 100px;
}

.dynamic-info p{
    font-size: 25px;
}

.dynamic-span{
    color: #f1652a;
}


/*뷰포트의 가로너비가 1025px 이상인 경우 적용 : 데스크탑 환경*/ 
@media screen and (min-width: 1025px){}

/*뷰포트의 가로너비가 769px 이상 1024px 이하 : 태블릿 환경*/ 
@media screen and (min-width: 769px) and (max-width: 1024){
}


/*미디어 쿼리 모바일*/
@media screen and (max-width:768px) {

    body{
        height: 2600px;
    }

    .header{
        flex-direction: column;
        align-items: flex-start;
    }

    .header ul{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .header li a{
        font-size: 3vw;
    }

    .center{
        display: contents;
    }

    .main{
        display: block;
    }

    .main-container-left{
        margin-top: -50px;
        width: 100%;
        height: 30%;
    }

    .main-container-right{
        width: 100%;
        height: 520px;
    }

    .main-content-right-title h2{
        font-size: 7vw;
        text-align: center;
    }

    .main-content-right-detail{
        text-align: center;
        margin-top: -75px;
    }

    .main-content-right-detail p:nth-child(1){
        font-size: 4vw;
    }

    .main-content-right-detail p:nth-child(2){
        font-size: 4vw;
        text-align: left;
        margin-top: 25px;
    }

    .main-content-buttonGroup{
        text-align: left;
        flex-wrap: wrap;
    }

    .button-01{
        margin: 5px 0 5px 5px;
        width: 15%;
        font-size: 2vw;
        height: 25px;
    }

    .button-02{
        margin: 5px 0 5px 5px;
        width: 15%;
        font-size: 2vw;
        height: 25px;
    }

    .button-03{
        margin: 5px 0 5px 5px;
        width: 18%;
        font-size: 2vw;
        height: 25px;
    }

    .button-04{
        margin: 5px 0 5px 5px;
        width: 15%;
        font-size: 2vw;
        height: 25px;
    }

    .button-06{
        margin: 5px 0 5px 5px;
        width: 15%;
        font-size: 2vw;
        height: 25px;
    }

    .button-07{
        margin: 5px 0 5px 5px;
        width: 15%;
        font-size: 2vw;
        height: 25px;
    }

    .content-container{
        margin-top: 150px;
        height: 500px;
    }

    .content-videoBox{
        height: 85%;
    }

    .content2{
        margin-top: 0;
    }

    .contnet2-container-mobile{
        height: 300px;
    }
    
    .content2-container-tablet{
        height: 300px;
    }

    .contnet2-mobile{
        width: 70%;
        height: 85%;
    }

    .content2-tablet{
        width: 95%;
        height: 90%;
    }

    .dynamic-info p{
        font-size: 3vw
    }

    .footer{
        margin-top: 30px;
    }

    .footer p{
        font-size: 7vw;
        margin-bottom: -20px;
    }

    .footer li a{
        font-size: 3.5vw;
    }

    .contnet2-mobile video{
        border-radius: 25px;
    }
}

/* 모바일 소형 */
@media screen and (max-width: 479px){

    body{
        height: 1800px;
    }

    .main{
        margin-top: 50px;
    }

    .main-container-right{
        height: 400px;
    }

    .content-videoBox{
        height: 100%;
    }

    .content-container{
        height: 250px;
        margin-top: 100px;
    }

    .content2{
        margin-top: 50px;
    }

    .contnet2-container-mobile{
        height: 250px;
    }
    
    .content2-container-tablet{
        height: 250px;
    }

    .contnet2-mobile{
        width: 100%;
    }

    .content2-tablet{
        width: 100%;
        height: 74%;
    }
    .footer{
        margin-top: 0;
    }

}
